{% stylesheet %}
  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }
{% endstylesheet %}

<div class="text-block text-{{ block.settings.alignment }}">
  {{ block.settings.text }}
</div>

{% schema %}
{
  "name": "テキストブロック",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment"
    },
  ],
  "presets": [
    { "name": "テキストブロック" },
    {
      "name": "コンテント",
      "settings": {
        "text": "<p>テキスト</p>"
      }
    }
  ]
}
{% endschema %}
